@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{ 
  background-image: url(../../public/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.whoarewe{ 
  background-image: url(../../public/Who-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.smartturb{ 
  background-image: url(../../public/smart-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}