@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{ 
  background-image: url(../../public/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.whoarewe{ 
  background-image: url(../../public/Who-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.smartturb{ 
  background-image: url(../../public/smart-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideLefttoRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* 
@media (min-width: 1024px) {
  .grid1 {
    overflow: hidden;
  }
  
  .grid1 > div {
    animation: slideRightToLeft 2s infinite alternate;
  }
  .grid2 {
    overflow: hidden;
  }
  
  .grid2 > div {
    animation: slideLefttoRight 2s infinite alternate;
  }
} */
